{{define "main"}}
<section class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto col-md-12">
        <div class="page-header">
          <h2>Kontakt</h2>
          <div class="m-4">
            <h3>Orchestervorstand</h3>
            <p>Heike Oeff · Antje Passarge-Ropers · Katja Arndt</p>
            <a href="mailto:info@sinfonietta-charlottenburg.de">info@sinfonietta-charlottenburg.de</a>
            <p> Tel.: 0172 37 66 393 </p>
          </div>
          <div class="m-4">
            <h3>Dirigent</h3>
            <p> David Gorol</p>
            <a href="mailto:info@sinfonietta-charlottenburg.de">info@sinfonietta-charlottenburg.de</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
